# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#files
nodeshopback/public/files

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
nodeshopback/config.js



nodeshopback/node_modules/bcrypt/.editorconfig
nodeshopback/node_modules/bcrypt/.travis.yml
nodeshopback/node_modules/bcrypt/appveyor.yml
nodeshopback/node_modules/bcrypt/bcrypt-5.0.0.tgz
nodeshopback/node_modules/bcrypt/bcrypt.js
nodeshopback/node_modules/bcrypt/binding.gyp
nodeshopback/node_modules/bcrypt/CHANGELOG.md
nodeshopback/node_modules/bcrypt/ISSUE_TEMPLATE.md
nodeshopback/node_modules/bcrypt/LICENSE
nodeshopback/node_modules/bcrypt/Makefile
nodeshopback/node_modules/bcrypt/package.json
nodeshopback/node_modules/bcrypt/promises.js
nodeshopback/node_modules/bcrypt/README.md
nodeshopback/node_modules/bcrypt/test_alpine.sh
nodeshopback/node_modules/bcrypt/examples/async_compare.js
nodeshopback/node_modules/bcrypt/examples/forever_gen_salt.js
nodeshopback/node_modules/bcrypt/lib/binding/napi-v3/bcrypt_lib.node
nodeshopback/node_modules/bcrypt/src/bcrypt_node.cc
nodeshopback/node_modules/bcrypt/src/bcrypt.cc
nodeshopback/node_modules/bcrypt/src/blowfish.cc
nodeshopback/node_modules/bcrypt/src/node_blf.h
nodeshopback/node_modules/bcrypt/test/async.js
nodeshopback/node_modules/bcrypt/test/implementation.js
nodeshopback/node_modules/bcrypt/test/promise.js
nodeshopback/node_modules/bcrypt/test/repetitions.js
nodeshopback/node_modules/bcrypt/test/sync.js
nodeshopback/node_modules/needle/license.txt
nodeshopback/node_modules/needle/package.json
nodeshopback/node_modules/needle/README.md
nodeshopback/node_modules/needle/.github/workflows/nodejs.yml
nodeshopback/node_modules/needle/bin/needle
nodeshopback/node_modules/needle/examples/deflated-stream.js
nodeshopback/node_modules/needle/examples/digest-auth.js
nodeshopback/node_modules/needle/examples/download-to-file.js
nodeshopback/node_modules/needle/examples/multipart-stream.js
nodeshopback/node_modules/needle/examples/parsed-stream.js
nodeshopback/node_modules/needle/examples/parsed-stream2.js
nodeshopback/node_modules/needle/examples/stream-events.js
nodeshopback/node_modules/needle/examples/stream-to-file.js
nodeshopback/node_modules/needle/examples/upload-image.js
nodeshopback/node_modules/needle/lib/auth.js
nodeshopback/node_modules/needle/lib/cookies.js
nodeshopback/node_modules/needle/lib/decoder.js
nodeshopback/node_modules/needle/lib/multipart.js
nodeshopback/node_modules/needle/lib/needle.js
nodeshopback/node_modules/needle/lib/parsers.js
nodeshopback/node_modules/needle/lib/querystring.js
nodeshopback/node_modules/needle/node_modules/debug/CHANGELOG.md
nodeshopback/node_modules/needle/node_modules/debug/LICENSE
nodeshopback/node_modules/needle/node_modules/debug/node.js
nodeshopback/node_modules/needle/node_modules/debug/package.json
nodeshopback/node_modules/needle/node_modules/debug/README.md
nodeshopback/node_modules/needle/node_modules/debug/dist/debug.js
nodeshopback/node_modules/needle/node_modules/debug/src/browser.js
nodeshopback/node_modules/needle/node_modules/debug/src/common.js
nodeshopback/node_modules/needle/node_modules/debug/src/index.js
nodeshopback/node_modules/needle/node_modules/debug/src/node.js
nodeshopback/node_modules/needle/node_modules/ms/index.js
nodeshopback/node_modules/needle/node_modules/ms/license.md
nodeshopback/node_modules/needle/node_modules/ms/package.json
nodeshopback/node_modules/needle/node_modules/ms/readme.md
nodeshopback/node_modules/needle/test/auth_digest_spec.js
nodeshopback/node_modules/needle/test/basic_auth_spec.js
nodeshopback/node_modules/needle/test/compression_spec.js
nodeshopback/node_modules/needle/test/cookies_spec.js
nodeshopback/node_modules/needle/test/decoder_spec.js
nodeshopback/node_modules/needle/test/errors_spec.js
nodeshopback/node_modules/needle/test/headers_spec.js
nodeshopback/node_modules/needle/test/helpers.js
nodeshopback/node_modules/needle/test/long_string_spec.js
nodeshopback/node_modules/needle/test/output_spec.js
nodeshopback/node_modules/needle/test/parsing_spec.js
nodeshopback/node_modules/needle/test/post_data_spec.js
nodeshopback/node_modules/needle/test/proxy_spec.js
nodeshopback/node_modules/needle/test/querystring_spec.js
nodeshopback/node_modules/needle/test/redirect_spec.js
nodeshopback/node_modules/needle/test/redirect_with_timeout.js
nodeshopback/node_modules/needle/test/request_stream_spec.js
nodeshopback/node_modules/needle/test/response_stream_spec.js
nodeshopback/node_modules/needle/test/socket_pool_spec.js
nodeshopback/node_modules/needle/test/uri_modifier_spec.js
nodeshopback/node_modules/needle/test/url_spec.js
nodeshopback/node_modules/needle/test/utils/formidable.js
nodeshopback/node_modules/needle/test/utils/proxy.js
nodeshopback/node_modules/needle/test/utils/test.js
nodeshopback/node_modules/node-addon-api/.editorconfig
nodeshopback/node_modules/node-addon-api/.travis.yml
nodeshopback/node_modules/node-addon-api/appveyor.yml
nodeshopback/node_modules/node-addon-api/CHANGELOG.md
nodeshopback/node_modules/node-addon-api/CODE_OF_CONDUCT.md
nodeshopback/node_modules/node-addon-api/common.gypi
nodeshopback/node_modules/node-addon-api/CONTRIBUTING.md
nodeshopback/node_modules/node-addon-api/except.gypi
nodeshopback/node_modules/node-addon-api/index.js
nodeshopback/node_modules/node-addon-api/LICENSE.md
nodeshopback/node_modules/node-addon-api/napi-inl.deprecated.h
nodeshopback/node_modules/node-addon-api/napi-inl.h
nodeshopback/node_modules/node-addon-api/napi.h
nodeshopback/node_modules/node-addon-api/node_api.gyp
nodeshopback/node_modules/node-addon-api/noexcept.gypi
nodeshopback/node_modules/node-addon-api/nothing.c
nodeshopback/node_modules/node-addon-api/package.json
nodeshopback/node_modules/node-addon-api/README.md
nodeshopback/node_modules/node-addon-api/benchmark/binding.gyp
nodeshopback/node_modules/node-addon-api/benchmark/function_args.cc
nodeshopback/node_modules/node-addon-api/benchmark/function_args.js
nodeshopback/node_modules/node-addon-api/benchmark/index.js
nodeshopback/node_modules/node-addon-api/benchmark/property_descriptor.cc
nodeshopback/node_modules/node-addon-api/benchmark/property_descriptor.js
nodeshopback/node_modules/node-addon-api/benchmark/README.md
nodeshopback/node_modules/node-addon-api/doc/array_buffer.md
nodeshopback/node_modules/node-addon-api/doc/async_context.md
nodeshopback/node_modules/node-addon-api/doc/async_operations.md
nodeshopback/node_modules/node-addon-api/doc/async_worker_variants.md
nodeshopback/node_modules/node-addon-api/doc/async_worker.md
nodeshopback/node_modules/node-addon-api/doc/basic_types.md
nodeshopback/node_modules/node-addon-api/doc/bigint.md
nodeshopback/node_modules/node-addon-api/doc/boolean.md
nodeshopback/node_modules/node-addon-api/doc/buffer.md
nodeshopback/node_modules/node-addon-api/doc/callback_scope.md
nodeshopback/node_modules/node-addon-api/doc/callbackinfo.md
nodeshopback/node_modules/node-addon-api/doc/checker-tool.md
nodeshopback/node_modules/node-addon-api/doc/class_property_descriptor.md
nodeshopback/node_modules/node-addon-api/doc/cmake-js.md
nodeshopback/node_modules/node-addon-api/doc/conversion-tool.md
nodeshopback/node_modules/node-addon-api/doc/creating_a_release.md
nodeshopback/node_modules/node-addon-api/doc/dataview.md
nodeshopback/node_modules/node-addon-api/doc/date.md
nodeshopback/node_modules/node-addon-api/doc/Doxyfile
nodeshopback/node_modules/node-addon-api/doc/env.md
nodeshopback/node_modules/node-addon-api/doc/error_handling.md
nodeshopback/node_modules/node-addon-api/doc/error.md
nodeshopback/node_modules/node-addon-api/doc/escapable_handle_scope.md
nodeshopback/node_modules/node-addon-api/doc/external.md
nodeshopback/node_modules/node-addon-api/doc/function_reference.md
nodeshopback/node_modules/node-addon-api/doc/function.md
nodeshopback/node_modules/node-addon-api/doc/generator.md
nodeshopback/node_modules/node-addon-api/doc/handle_scope.md
nodeshopback/node_modules/node-addon-api/doc/memory_management.md
nodeshopback/node_modules/node-addon-api/doc/node-gyp.md
nodeshopback/node_modules/node-addon-api/doc/number.md
nodeshopback/node_modules/node-addon-api/doc/object_lifetime_management.md
nodeshopback/node_modules/node-addon-api/doc/object_reference.md
nodeshopback/node_modules/node-addon-api/doc/object_wrap.md
nodeshopback/node_modules/node-addon-api/doc/object.md
nodeshopback/node_modules/node-addon-api/doc/prebuild_tools.md
nodeshopback/node_modules/node-addon-api/doc/promises.md
nodeshopback/node_modules/node-addon-api/doc/property_descriptor.md
nodeshopback/node_modules/node-addon-api/doc/range_error.md
nodeshopback/node_modules/node-addon-api/doc/reference.md
nodeshopback/node_modules/node-addon-api/doc/setup.md
nodeshopback/node_modules/node-addon-api/doc/string.md
nodeshopback/node_modules/node-addon-api/doc/symbol.md
nodeshopback/node_modules/node-addon-api/doc/threadsafe_function.md
nodeshopback/node_modules/node-addon-api/doc/type_error.md
nodeshopback/node_modules/node-addon-api/doc/typed_array_of.md
nodeshopback/node_modules/node-addon-api/doc/typed_array.md
nodeshopback/node_modules/node-addon-api/doc/value.md
nodeshopback/node_modules/node-addon-api/doc/version_management.md
nodeshopback/node_modules/node-addon-api/doc/working_with_javascript_values.md
nodeshopback/node_modules/node-addon-api/tools/check-napi.js
nodeshopback/node_modules/node-addon-api/tools/conversion.js
nodeshopback/node_modules/node-addon-api/tools/README.md
nodeshopback/node_modules/bcrypt/.editorconfig
nodeshopback/node_modules/bcrypt/.travis.yml
nodeshopback/node_modules/bcrypt/appveyor.yml
nodeshopback/node_modules/bcrypt/bcrypt-5.0.0.tgz
nodeshopback/node_modules/bcrypt/bcrypt.js
nodeshopback/node_modules/bcrypt/binding.gyp
nodeshopback/node_modules/bcrypt/CHANGELOG.md
nodeshopback/node_modules/bcrypt/ISSUE_TEMPLATE.md
nodeshopback/node_modules/bcrypt/LICENSE
nodeshopback/node_modules/bcrypt/Makefile
nodeshopback/node_modules/bcrypt/package.json
nodeshopback/node_modules/bcrypt/promises.js
nodeshopback/node_modules/bcrypt/README.md
nodeshopback/node_modules/bcrypt/test_alpine.sh
nodeshopback/node_modules/bcrypt/examples/async_compare.js
nodeshopback/node_modules/bcrypt/examples/forever_gen_salt.js
nodeshopback/node_modules/bcrypt/lib/binding/napi-v3/bcrypt_lib.node
nodeshopback/node_modules/bcrypt/src/bcrypt_node.cc
nodeshopback/node_modules/bcrypt/src/bcrypt.cc
nodeshopback/node_modules/bcrypt/src/blowfish.cc
nodeshopback/node_modules/bcrypt/src/node_blf.h
nodeshopback/node_modules/bcrypt/test/async.js
nodeshopback/node_modules/bcrypt/test/implementation.js
nodeshopback/node_modules/bcrypt/test/promise.js
nodeshopback/node_modules/bcrypt/test/repetitions.js
nodeshopback/node_modules/bcrypt/test/sync.js
nodeshopback/node_modules/needle/license.txt
nodeshopback/node_modules/needle/package.json
nodeshopback/node_modules/needle/README.md
nodeshopback/node_modules/needle/.github/workflows/nodejs.yml
nodeshopback/node_modules/needle/bin/needle
nodeshopback/node_modules/needle/examples/deflated-stream.js
nodeshopback/node_modules/needle/examples/digest-auth.js
nodeshopback/node_modules/needle/examples/download-to-file.js
nodeshopback/node_modules/needle/examples/multipart-stream.js
nodeshopback/node_modules/needle/examples/parsed-stream.js
nodeshopback/node_modules/needle/examples/parsed-stream2.js
nodeshopback/node_modules/needle/examples/stream-events.js
nodeshopback/node_modules/needle/examples/stream-to-file.js
nodeshopback/node_modules/needle/examples/upload-image.js
nodeshopback/node_modules/needle/lib/auth.js
nodeshopback/node_modules/needle/lib/cookies.js
nodeshopback/node_modules/needle/lib/decoder.js
nodeshopback/node_modules/needle/lib/multipart.js
nodeshopback/node_modules/needle/lib/needle.js
nodeshopback/node_modules/needle/lib/parsers.js
nodeshopback/node_modules/needle/lib/querystring.js
nodeshopback/node_modules/needle/node_modules/debug/CHANGELOG.md
nodeshopback/node_modules/needle/node_modules/debug/LICENSE
nodeshopback/node_modules/needle/node_modules/debug/node.js
nodeshopback/node_modules/needle/node_modules/debug/package.json
nodeshopback/node_modules/needle/node_modules/debug/README.md
nodeshopback/node_modules/needle/node_modules/debug/dist/debug.js
nodeshopback/node_modules/needle/node_modules/debug/src/browser.js
nodeshopback/node_modules/needle/node_modules/debug/src/common.js
nodeshopback/node_modules/needle/node_modules/debug/src/index.js
nodeshopback/node_modules/needle/node_modules/debug/src/node.js
nodeshopback/node_modules/needle/node_modules/ms/index.js
nodeshopback/node_modules/needle/node_modules/ms/license.md
nodeshopback/node_modules/needle/node_modules/ms/package.json
nodeshopback/node_modules/needle/node_modules/ms/readme.md
nodeshopback/node_modules/needle/test/auth_digest_spec.js
nodeshopback/node_modules/needle/test/basic_auth_spec.js
nodeshopback/node_modules/needle/test/compression_spec.js
nodeshopback/node_modules/needle/test/cookies_spec.js
nodeshopback/node_modules/needle/test/decoder_spec.js
nodeshopback/node_modules/needle/test/errors_spec.js
nodeshopback/node_modules/needle/test/headers_spec.js
nodeshopback/node_modules/needle/test/helpers.js
nodeshopback/node_modules/needle/test/long_string_spec.js
nodeshopback/node_modules/needle/test/output_spec.js
nodeshopback/node_modules/needle/test/parsing_spec.js
nodeshopback/node_modules/needle/test/post_data_spec.js
nodeshopback/node_modules/needle/test/proxy_spec.js
nodeshopback/node_modules/needle/test/querystring_spec.js
nodeshopback/node_modules/needle/test/redirect_spec.js
nodeshopback/node_modules/needle/test/redirect_with_timeout.js
nodeshopback/node_modules/needle/test/request_stream_spec.js
nodeshopback/node_modules/needle/test/response_stream_spec.js
nodeshopback/node_modules/needle/test/socket_pool_spec.js
nodeshopback/node_modules/needle/test/uri_modifier_spec.js
nodeshopback/node_modules/needle/test/url_spec.js
nodeshopback/node_modules/needle/test/utils/formidable.js
nodeshopback/node_modules/needle/test/utils/proxy.js
nodeshopback/node_modules/needle/test/utils/test.js
nodeshopback/node_modules/node-addon-api/.editorconfig
nodeshopback/node_modules/node-addon-api/.travis.yml
nodeshopback/node_modules/node-addon-api/appveyor.yml
nodeshopback/node_modules/node-addon-api/CHANGELOG.md
nodeshopback/node_modules/node-addon-api/CODE_OF_CONDUCT.md
nodeshopback/node_modules/node-addon-api/common.gypi
nodeshopback/node_modules/node-addon-api/CONTRIBUTING.md
nodeshopback/node_modules/node-addon-api/except.gypi
nodeshopback/node_modules/node-addon-api/index.js
nodeshopback/node_modules/node-addon-api/LICENSE.md
nodeshopback/node_modules/node-addon-api/napi-inl.deprecated.h
nodeshopback/node_modules/node-addon-api/napi-inl.h
nodeshopback/node_modules/node-addon-api/napi.h
nodeshopback/node_modules/node-addon-api/node_api.gyp
nodeshopback/node_modules/node-addon-api/noexcept.gypi
nodeshopback/node_modules/node-addon-api/nothing.c
nodeshopback/node_modules/node-addon-api/package.json
nodeshopback/node_modules/node-addon-api/README.md
nodeshopback/node_modules/node-addon-api/benchmark/binding.gyp
nodeshopback/node_modules/node-addon-api/benchmark/function_args.cc
nodeshopback/node_modules/node-addon-api/benchmark/function_args.js
nodeshopback/node_modules/node-addon-api/benchmark/index.js
nodeshopback/node_modules/node-addon-api/benchmark/property_descriptor.cc
nodeshopback/node_modules/node-addon-api/benchmark/property_descriptor.js
nodeshopback/node_modules/node-addon-api/benchmark/README.md
nodeshopback/node_modules/node-addon-api/doc/array_buffer.md
nodeshopback/node_modules/node-addon-api/doc/async_context.md
nodeshopback/node_modules/node-addon-api/doc/async_operations.md
nodeshopback/node_modules/node-addon-api/doc/async_worker_variants.md
nodeshopback/node_modules/node-addon-api/doc/async_worker.md
nodeshopback/node_modules/node-addon-api/doc/basic_types.md
nodeshopback/node_modules/node-addon-api/doc/bigint.md
nodeshopback/node_modules/node-addon-api/doc/boolean.md
nodeshopback/node_modules/node-addon-api/doc/buffer.md
nodeshopback/node_modules/node-addon-api/doc/callback_scope.md
nodeshopback/node_modules/node-addon-api/doc/callbackinfo.md
nodeshopback/node_modules/node-addon-api/doc/checker-tool.md
nodeshopback/node_modules/node-addon-api/doc/class_property_descriptor.md
nodeshopback/node_modules/node-addon-api/doc/cmake-js.md
nodeshopback/node_modules/node-addon-api/doc/conversion-tool.md
nodeshopback/node_modules/node-addon-api/doc/creating_a_release.md
nodeshopback/node_modules/node-addon-api/doc/dataview.md
nodeshopback/node_modules/node-addon-api/doc/date.md
nodeshopback/node_modules/node-addon-api/doc/Doxyfile
nodeshopback/node_modules/node-addon-api/doc/env.md
nodeshopback/node_modules/node-addon-api/doc/error_handling.md
nodeshopback/node_modules/node-addon-api/doc/error.md
nodeshopback/node_modules/node-addon-api/doc/escapable_handle_scope.md
nodeshopback/node_modules/node-addon-api/doc/external.md
nodeshopback/node_modules/node-addon-api/doc/function_reference.md
nodeshopback/node_modules/node-addon-api/doc/function.md
nodeshopback/node_modules/node-addon-api/doc/generator.md
nodeshopback/node_modules/node-addon-api/doc/handle_scope.md
nodeshopback/node_modules/node-addon-api/doc/memory_management.md
nodeshopback/node_modules/node-addon-api/doc/node-gyp.md
nodeshopback/node_modules/node-addon-api/doc/number.md
nodeshopback/node_modules/node-addon-api/doc/object_lifetime_management.md
nodeshopback/node_modules/node-addon-api/doc/object_reference.md
nodeshopback/node_modules/node-addon-api/doc/object_wrap.md
nodeshopback/node_modules/node-addon-api/doc/object.md
nodeshopback/node_modules/node-addon-api/doc/prebuild_tools.md
nodeshopback/node_modules/node-addon-api/doc/promises.md
nodeshopback/node_modules/node-addon-api/doc/property_descriptor.md
nodeshopback/node_modules/node-addon-api/doc/range_error.md
nodeshopback/node_modules/node-addon-api/doc/reference.md
nodeshopback/node_modules/node-addon-api/doc/setup.md
nodeshopback/node_modules/node-addon-api/doc/string.md
nodeshopback/node_modules/node-addon-api/doc/symbol.md
nodeshopback/node_modules/node-addon-api/doc/threadsafe_function.md
nodeshopback/node_modules/node-addon-api/doc/type_error.md
nodeshopback/node_modules/node-addon-api/doc/typed_array_of.md
nodeshopback/node_modules/node-addon-api/doc/typed_array.md
nodeshopback/node_modules/node-addon-api/doc/value.md
nodeshopback/node_modules/node-addon-api/doc/version_management.md
nodeshopback/node_modules/node-addon-api/doc/working_with_javascript_values.md
nodeshopback/node_modules/node-addon-api/tools/check-napi.js
nodeshopback/node_modules/node-addon-api/tools/conversion.js
nodeshopback/node_modules/node-addon-api/tools/README.md
