.inactiveLink {
    pointer-events: none;
    cursor: default;
 }

 .imgProfile{
   min-height: 3vw;
   min-width: 3.4vw;
}

.text-white{
}

 .ownbar{
     
 }

 #inputLogin{
    margin-left: auto;  
    margin-right: auto;
    display: block;
 }